@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i|PT+Sans:400,400i,700,700i|PT+Mono:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:300, 300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

body {
  font-family: "Sen";
  /*color: #1f1f1f;*/
  color: #405359;
  font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif JP";
  letter-spacing: 2px;
  line-height: 2rem; /* increases, so wrapping headers don't overlap */ 
  color: #096B72;
  font-weight: 300;
}

d-title {
  padding-top: 13rem; /*so that navbar doesn't overlap fixed title */
}

d-title h1,
d-article h2 {
	font-weight: 300;
}

@media print {
  .distill-site-nav {
    display: none;
  }
}

div.justa {
 text-align: justify;
}

div.center {
text-align: center;
}

.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #455a64;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: #d9dee0;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: white;
}

.distill-site-nav a {
  color: #d9dee0;
  text-decoration: none;
}

.nav-dropdown .nav-dropbtn {
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 16px 10px;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    margin-top: 1px;
    z-index: 2;
}


.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    margin-top: 2px;
    white-space: nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-dropdown-content a, .nav-dropdown-content .nav-dropdown-header {
    color: black;
    padding: 6px 24px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-dropdown-active {
    color: #455a64;
    display: block;
}

.nav-dropdown-content .nav-dropdown-header {
    display: block;
    padding: 5px 24px;
    padding-bottom: 0;
    font-size: 14px;
    color: #455a64;
    white-space: nowrap;
}

 /* Site Header */
  
  .distill-site-header {
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
  }
  
  .distill-site-header .nav-left {
    display: inline-block;
    margin-left: 8px;
  }
  
  @media screen and (max-width: 768px) {
    .distill-site-header .nav-left {
      margin-left: 0;
    }
  }
  
  
  .distill-site-header .nav-right {
    float: right;
    margin-right: 8px;
  }
  
  .distill-site-header a,
  .distill-site-header .title {
    display: inline-block;
    text-align: center;
    padding: 14px 10px 14px 10px;
  }
  
  .distill-site-header .title {
    font-size: 18px;
  }
  
  .distill-site-header .logo {
    padding: 0;
  }
  
  .distill-site-header .logo img {
    display: none;
    max-height: 20px;
    width: auto;
    margin-bottom: -4px;
  }
  
  .distill-site-header .nav-image img {
    max-height: 18px;
    width: auto;
    display: inline-block;
    margin-bottom: -3px;
  }
  
    @media screen and (min-width: 1000px) {
    .distill-site-header .logo img {
      display: inline-block;
    }
    .distill-site-header .nav-left {
      margin-left: 20px;
    }
    .distill-site-header .nav-right {
      margin-right: 20px;
    }
    .distill-site-header .title {
      padding-left: 12px;
    }
  }
  
  .distill-site-header a.nav-toggle {
      float: right;
      display: block;
  }
  
  .distill-site-header .nav-toggle {
    display: none;
  }
  
  .nav-dropdown {
    display: inline-block;
    position: relative;
  }
  
  .nav-dropdown .nav-dropbtn {
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 16px 10px;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    margin-top: 1px;
    z-index: 2;
  }
  
  .nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    margin-top: 2px;
    white-space: nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .nav-dropdown-content hr {
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .nav-dropdown-active {
    display: block;
  }
  
  .nav-dropdown-content a, .nav-dropdown-content .nav-dropdown-header {
    color: black;
    padding: 6px 24px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .nav-dropdown-content .nav-dropdown-header {
    display: block;
    padding: 5px 24px;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #999999;
    white-space: nowrap;
  }
  
  .nav-dropdown:hover .nav-dropbtn {
    color: white;
  }
  
  .nav-dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav-right .nav-dropdown-content {
    margin-left: -45%;
    right: 0;
  }
  
  @media screen and (max-width: 768px) {
    .distill-site-header a, .distill-site-header .nav-dropdown  {display: none;}
    .distill-site-header a.nav-toggle {
      float: right;
      display: block;
    }
    .distill-site-header .title {
      margin-left: 0;
    }
    .distill-site-header .nav-right {
      margin-right: 0;
    }
    .distill-site-header {
      overflow: hidden;
    }
    .nav-right .nav-dropdown-content {
      margin-left: 0;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .distill-site-header.responsive {position: relative;}
    .distill-site-header.responsive a.nav-toggle {
      position: absolute;
      right: 0;
      top: 0;
    }
    .distill-site-header.responsive a,
    .distill-site-header.responsive .nav-dropdown {
      display: block;
      text-align: left;
    }
    .distill-site-header.responsive .nav-left,
    .distill-site-header.responsive .nav-right {
      width: 100%;
    }
    .distill-site-header.responsive .nav-dropdown {float: none;}
    .distill-site-header.responsive .nav-dropdown-content {position: relative;}
    .distill-site-header.responsive .nav-dropdown .nav-dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (min-width: 1024px)
d-article h3 {
    font-size: 20px;
}

d-article p, d-article ul, d-article ol, d-article blockquote {
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

d-article {
    font-size: 1.06rem;
    line-height: 1.7em;
}


/*
 *  Academicons 1.9.0 by James Walsh (https://github.com/jpswalsh) and Katja Bercic (https://github.com/katjabercic)
 *  Fonts generated using FontForge - https://fontforge.org
 *  Square icons designed to be used alongside Font Awesome square icons - https://fortawesome.github.io/Font-Awesome/
 *  Licenses - Font: SIL OFL 1.1, CSS: MIT License
 */
@font-face {
    font-family: 'Academicons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src:url('../fonts/academicons.eot');
    src:url('../fonts/academicons.eot') format('embedded-opentype'),
        url('../fonts/academicons.ttf') format('truetype'),
        url('../fonts/academicons.woff') format('woff'),
        url('../fonts/academicons.svg') format('svg');
}
.ai {
  font-family: 'Academicons';
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.ai-academia:before {
  content: "\e9af";
}
.ai-academia-square:before {
  content: "\e93d";
}
.ai-acclaim:before {
  content: "\e92e";
}
.ai-acclaim-square:before {
  content: "\e93a";
}
.ai-acm:before {
  content: "\e93c";
}
.ai-acm-square:before {
  content: "\e95d";
}
.ai-acmdl:before {
  content: "\e96a";
}
.ai-acmdl-square:before {
  content: "\e9d3";
}
.ai-ads:before {
  content: "\e9cb";
}
.ai-ads-square:before {
  content: "\e94a";
}
.ai-africarxiv:before {
  content: "\e91b";
}
.ai-africarxiv-square:before {
  content: "\e90b";
}
.ai-arxiv:before {
  content: "\e974";
}
.ai-arxiv-square:before {
  content: "\e9a6";
}
.ai-biorxiv:before {
  content: "\e9a2";
}
.ai-biorxiv-square:before {
  content: "\e98b";
}
.ai-ceur:before {
  content: "\e96d";
}
.ai-ceur-square:before {
  content: "\e92f";
}
.ai-ciencia-vitae:before {
  content: "\e912";
}
.ai-ciencia-vitae-square:before {
  content: "\e913";
}
.ai-conversation:before {
  content: "\e94c";
}
.ai-conversation-square:before {
  content: "\e915";
}
.ai-coursera:before {
  content: "\e95f";
}
.ai-coursera-square:before {
  content: "\e97f";
}
.ai-crossref:before {
  content: "\e918";
}
.ai-crossref-square:before {
  content: "\e919";
}
.ai-cv:before {
  content: "\e9a5";
}
.ai-cv-square:before {
  content: "\e90a";
}
.ai-datacite:before {
  content: "\e91c";
}
.ai-datacite-square:before {
  content: "\e91d";
}
.ai-dataverse:before {
  content: "\e9f7";
}
.ai-dataverse-square:before {
  content: "\e9e4";
}
.ai-dblp:before {
  content: "\e94f";
}
.ai-dblp-square:before {
  content: "\e93f";
}
.ai-depsy:before {
  content: "\e97a";
}
.ai-depsy-square:before {
  content: "\e94b";
}
.ai-doi:before {
  content: "\e97e";
}
.ai-doi-square:before {
  content: "\e98f";
}
.ai-dryad:before {
  content: "\e97c";
}
.ai-dryad-square:before {
  content: "\e98c";
}
.ai-elsevier:before {
  content: "\e961";
}
.ai-elsevier-square:before {
  content: "\e910";
}
.ai-figshare:before {
  content: "\e981";
}
.ai-figshare-square:before {
  content: "\e9e7";
}
.ai-google-scholar:before {
  content: "\e9d4";
}
.ai-google-scholar-square:before {
  content: "\e9f9";
}
.ai-hal:before {
  content: "\e92c";
}
.ai-hal-square:before {
  content: "\e92d";
}
.ai-ideas-repec:before {
  content: "\e9ed";
}
.ai-ideas-repec-square:before {
  content: "\e9f8";
}
.ai-ieee:before {
  content: "\e929";
}
.ai-ieee-square:before {
  content: "\e9b9";
}
.ai-impactstory:before {
  content: "\e9cf";
}
.ai-impactstory-square:before {
  content: "\e9aa";
}
.ai-inaturalist:before {
  content: "\e900";
}
.ai-inaturalist-square:before {
  content: "\e901";
}
.ai-inpn:before {
  content: "\e902";
}
.ai-inpn-square:before {
  content: "\e903";
}
.ai-inspire:before {
  content: "\e9e9";
}
.ai-inspire-square:before {
  content: "\e9fe";
}
.ai-isidore:before {
  content: "\e936";
}
.ai-isidore-square:before {
  content: "\e954";
}
.ai-jstor:before {
  content: "\e938";
}
.ai-jstor-square:before {
  content: "\e944";
}
.ai-lattes:before {
  content: "\e9b3";
}
.ai-lattes-square:before {
  content: "\e99c";
}
.ai-mathoverflow:before {
  content: "\e9f6";
}
.ai-mathoverflow-square:before {
  content: "\e97b";
}
.ai-mendeley:before {
  content: "\e9f0";
}
.ai-mendeley-square:before {
  content: "\e9f3";
}
.ai-moodle:before {
  content: "\e907";
}
.ai-moodle-square:before {
  content: "\e908";
}
.ai-nakala:before {
  content: "\e940";
}
.ai-nakala-square:before {
  content: "\e941";
}
.ai-closed-access:before {
  content: "\e942";
}
.ai-closed-access-square:before {
  content: "\e943";
}
.ai-open-access:before {
  content: "\e939";
}
.ai-open-access-square:before {
  content: "\e9f4";
}
.ai-open-data:before {
  content: "\e966";
}
.ai-open-data-square:before {
  content: "\e967";
}
.ai-open-materials:before {
  content: "\e968";
}
.ai-open-materials-square:before {
  content: "\e969";
}
.ai-openedition:before {
  content: "\e946";
}
.ai-openedition-square:before {
  content: "\e947";
}
.ai-orcid:before {
  content: "\e9d9";
}
.ai-orcid-square:before {
  content: "\e9c3";
}
.ai-osf:before {
  content: "\e9ef";
}
.ai-osf-square:before {
  content: "\e931";
}
.ai-overleaf:before {
  content: "\e914";
}
.ai-overleaf-square:before {
  content: "\e98d";
}
.ai-philpapers:before {
  content: "\e98a";
}
.ai-philpapers-square:before {
  content: "\e96f";
}
.ai-piazza:before {
  content: "\e99a";
}
.ai-piazza-square:before {
  content: "\e90c";
}
.ai-preregistered:before {
  content: "\e906";
}
.ai-preregistered-square:before {
  content: "\e96b";
}
.ai-protocols:before {
  content: "\e952";
}
.ai-protocols-square:before {
  content: "\e953";
}
.ai-psyarxiv:before {
  content: "\e90e";
}
.ai-psyarxiv-square:before {
  content: "\e90f";
}
.ai-publons:before {
  content: "\e937";
}
.ai-publons-square:before {
  content: "\e94e";
}
.ai-pubmed:before {
  content: "\e99f";
}
.ai-pubmed-square:before {
  content: "\e97d";
}
.ai-pubpeer:before {
  content: "\e922";
}
.ai-pubpeer-square:before {
  content: "\e923";
}
.ai-researcherid:before {
  content: "\e91a";
}
.ai-researcherid-square:before {
  content: "\e95c";
}
.ai-researchgate:before {
  content: "\e95e";
}
.ai-researchgate-square:before {
  content: "\e99e";
}
.ai-sci-hub:before {
  content: "\e959";
}
.ai-sci-hub-square:before {
  content: "\e905";
}
.ai-scirate:before {
  content: "\e98e";
}
.ai-scirate-square:before {
  content: "\e99d";
}
.ai-semantic-scholar:before {
  content: "\e96e";
}
.ai-semantic-scholar-square:before {
  content: "\e96c";
}
.ai-springer:before {
  content: "\e928";
}
.ai-springer-square:before {
  content: "\e99b";
}
.ai-ssrn:before {
  content: "\e916";
}
.ai-ssrn-square:before {
  content: "\e917";
}
.ai-stackoverflow:before {
  content: "\e920";
}
.ai-stackoverflow-square:before {
  content: "\e921";
}
.ai-zotero:before {
  content: "\e962";
}
.ai-zotero-square:before {
  content: "\e932";
}
/*  Duplication of the FontAwesome style classes using 'ai' in place of 'fa'. */
.ai-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.ai-2x {
  font-size: 2em;
}
.ai-3x {
  font-size: 3em;
}
.ai-4x {
  font-size: 4em;
}
.ai-5x {
  font-size: 5em;
}
.ai-fw {
  width: 1.28571429em;
  text-align: center;
}
.ai-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.ai-ul > li {
  position: relative;
}
.ai-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.ai-li.fa-lg {
  left: -1.85714286em;
}
.ai-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.ai-pull-left {
  float: left;
}
.ai-pull-right {
  float: right;
}
.ai.fa-pull-left {
  margin-right: .3em;
}
.ai.fa-pull-right {
  margin-left: .3em;
}
/*
 *  Repeat of the FontAwesome style classes to prevent override if academicons.css
 *  is called after font-awesome.css.
 */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/*
 * Accessibility: hide text for screen readers
 */
.sr-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
